{% extends "base.html" %}
{% block content %}
{% for post in posts %}
<div class="container" >
    <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
               <img class="img-article-left" src="{{post.image.url}}" width="600px"  height="550" align="left" />
              <h2 class="card-text">{{post.title}}</h2>
                <p>{{post.text}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a  style="color:black">View</a></button>
                    {% if post.custom_user == request.user %}
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url "edit_post" post_id=post.id %}" style="color:black">Edit</a></button>
                    {% endif %}
                </div>
                <small class="text-body-secondary"> {{post.created_at}}</small>
              </div>
              </div>
            </div>
          </div>
        </div>


{% endfor %}
{% endblock %}
